<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>hi</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>

  <body>
    <div id="app">
      <h1>hi world</h1>
      <h5>{{testGo}}</h5>
      <input type="text" v-model="inputTest" />
      <button v-on:click="btnClick">click</button>
      <ul>
        <li v-for="item in listTest">
          {{item}}
        </li>
      </ul>
    </div>
  </body>

  <script>
    var app = new Vue({
      el: "#app",
      data: { listTest: ["test-1", "test-2"], testGo: "test-3", inputTest: "" },
      methods: {
        btnClick: function () {
          console.log("test btn",this.inputTest);
        },
      },
    });
  </script>
</html>
